<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My Baby Sitter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/ad/new">Create Ad<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/user/profile">Profile</a>
      <a class="nav-item nav-link" href="/">Logout</a>
    </div>
  </div>
</nav>

<br></br>

<h1>Ads List</h1>

<ul>
    {{#each ads}}
        <li>
            <div>
                <p>Name and Lastname: {{user.name}} {{user.lastname}}</p>
                <p>Descripción: {{description}}</p>
                <p>Date for service: {{adDate}}</p>
                <p>Fee: {{fee}}</p>
                <p>Status: {{status}}</p>
                <a href="/ad/delete/{{_id}}">Delete Ad</a>
            </div>
        </li>
    {{/each}}
</ul>
