<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">My Baby Sitter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/ad/new">Create Ad
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" href="/user/profile">Profile</a>
      <a class="nav-item nav-link" href="/">Logout</a>
    </div>
  </div>
</nav>

<br></br>

<h2>Ads List</h2>

{{#each ads}}
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <p><b>Name and Lastname: </b>{{user.name}} {{user.lastname}}</p>
    <p><b>Descripción: </b>{{description}}</p>
    <p><b>Address: </b>{{address}}</p>
    <p><b>Date for service: </b>{{adDate}}</p>
    <p><b>Fee: </b>{{fee}}</p>
    <p><b>Status: </b>{{status}}</p>
    <a href="/ad/delete/{{_id}}">Delete Ad</a><br>
    {{#ifEquals status "Pending" this}}
    <a href="/ad/accepted/{{_id}}">Accept Offer</a>
    {{/ifEquals}}
    </div>
    </div>
</div>
{{/each}}

    {{!-- <div class="col-sm">
      <p>Name and Lastname: {{user.name}} {{user.lastname}}</p>
    <p>Descripción: {{description}}</p>
    <p>Address: {{address}}</p>
    <p>Date for service: {{adDate}}</p>
    <p>Fee: {{fee}}</p>
    <p>Status: {{status}}</p>
    <a href="/ad/delete/{{_id}}">Delete Ad</a>
    </div>
    <div class="col-sm">
      <p>Name and Lastname: {{user.name}} {{user.lastname}}</p>
    <p>Descripción: {{description}}</p>
    <p>Address: {{address}}</p>
    <p>Date for service: {{adDate}}</p>
    <p>Fee: {{fee}}</p>
    <p>Status: {{status}}</p>
    <a href="/ad/delete/{{_id}}">Delete Ad</a>
    </div>

    
  <div id="my_map" style="height: 500px">

  </div>
<script>
  $.geocomplete({
  map: "#my_map",
  mapOptions: {
    zoom: 10
  },
  markerOptions: {
    draggable: true
  },
  details: "#my_form"
});
</script>
