<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My Baby Sitter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/ad">View ads</a>
      <a class="nav-item nav-link" href="/user/profile">Profile</a>
      <a class="nav-item nav-link" href="/">Logout</a>
    </div>
  </div>
</nav>

<h1>Edit profile</h1>


<form action="/user/profile/edit" method="POST" id="form-container" class="created_ad_form map-form" enctype="multipart/form-data">
  <div class="form-group">
    <label for="photo">Upload your photo</label>
    <input type="file" class="form-control-file" id="photo" name="photo">
  </div>  
  <div class="form-group">
    <label for="exampleFormControlInput1">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Password</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Lastname</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Address</label>
    <input type="email" class="form-control col-3" id="exampleFormControlInput1" placeholder="Street">
    <input type="email" class="form-control col-3" id="exampleFormControlInput1" placeholder="City">
    <input type="email" class="form-control col-3" id="exampleFormControlInput1" placeholder="Zip">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Phone</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-check">
    <label class="form-check-label" for="defaultCheck1">Do you want to be a nanny?</label>
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  </div>
  <button type="submit" class="btn btn-primary">Edit</button>
  
</form>

<br>
<br>
<br>
<br>

<form action="/user/profile/edit" method="POST" id="form-container" enctype="multipart/form-data">
  
  <label for="photo">Upload your photo</label>
  <input type="file" id="photo" name="photo">

  <br><br>
  
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="Email" value="{{user.email}}" required>
    
  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Password" value="{{user.password}}" required>

  <br><br>

  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Name" value="{{user.name}}" required>
  <input id="lastname" type="text" name="lastname" placeholder="Lastname" value="{{user.lastname}}" required>

  <br><br>

  <label for="address">Address:</label>
  <input id="street" type="text" name="street" placeholder="Street" value="{{user.address.street}}" required>
  <input id="city" type="text" name="city" placeholder="City" value="{{user.address.city}}" required>
  <input id="zip" type="text" name="zip" placeholder="Zip" value="{{user.address.zip}}" required>
 
  <br><br>

  <label for="phone">Phone:</label>
  <input id ="phone" type="text" name="phone" placeholder="Phone" value="{{user.phone}}" required>

  <br><br>

  <label for="isbabysitter">Do you want to be a nanny?</label>
  <input id="isBabysitter" type="checkbox" name="isBabysitter" {{#if user.isBabysitter}}checked{{/if}}>

  <br><br>

  <button type="submit">EDIT</button>

</form>

<br><br>

<a href="/user/delete">Eliminar Usuario</a>