<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
  <a class="navbar-brand" href="/">My Baby Sitter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/ad">View ads</a>
      <a class="nav-item nav-link" href="/user/profile">Profile</a>
      <a class="nav-item nav-link" href="/">Logout</a>
    </div>
  </div>
</nav>



{{#with user}}
<div class="editprofile_container">
<h3 class="edit_profile">EDIT PROFILE</h3>
<form action="/user/profile/edit" method="POST" id="form-container" class="created_ad_form map-form" enctype="multipart/form-data">
  <div class="form-group">
    <label for="photo">Upload your photo</label>
    <input type="file" class="form-control-file" id="photo" name="photo">
  </div>  
  <div class="form-group">
    <label for="exampleFormControlInput1">Email</label>
    <input type="email" class="form-control" id="email" name ="email" value="{{this.email}}" placeholder="Example: mybabysitter@gmails.com" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="Password" value="{{this.password}}" placeholder="Password" required>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" value="{{this.name}}" placeholder="Name" required>
  </div>
  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input type="text" class="form-control" id="lastname" name="lastname" value="{{this.lastname}}" placeholder="Lastname" required>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control col-3" id="street" name="street" value="{{this.address.street}}" placeholder="Street" required>
    <input type="text" class="form-control col-3" id="city" name="city" value="{{this.address.city}}" placeholder="City" required>
    <input type="text" class="form-control col-3" id="zip" name="zip" value="{{this.address.zip}}" placeholder="Zip"required>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" name="phone" value="{{this.phone}}" placeholder="phone" required>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="isbabysitter" name="isbabysitter" {{#if this.isBabysitter}}checked{{/if}}>
    <label class="form-check-label" for="isbabysitter">Do you want to be a nanny?</label>
  </div>
  <button type="submit" class="btn btn-primary">Edit</button>
</form>
</div>

{{/with}}
{{!-- 
<form action="/user/profile/edit" method="POST" id="form-container" enctype="multipart/form-data">
  
  <label for="photo">Upload your photo</label>
  <input type="file" id="photo" name="photo">

  <br><br>
  
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="Email" value="{{user.email}}" required>
    
  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Password" value="{{user.password}}" required>

  <br><br>

  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Name" value="{{user.name}}" required>
  <input id="lastname" type="text" name="lastname" placeholder="Lastname" value="{{user.lastname}}" required>

  <br><br>

  <label for="address">Address:</label>
  <input id="street" type="text" name="street" placeholder="Street" value="{{user.address.street}}" required>
  <input id="city" type="text" name="city" placeholder="City" value="{{user.address.city}}" required>
  <input id="zip" type="text" name="zip" placeholder="Zip" value="{{user.address.zip}}" required>
 
  <br><br>

  <label for="phone">Phone:</label>
  <input id ="phone" type="text" name="phone" placeholder="Phone" value="{{user.phone}}" required>

  <br><br>

  <label for="isbabysitter">Do you want to be a nanny?</label>
  <input id="isBabysitter" type="checkbox" name="isBabysitter" {{#if user.isBabysitter}}checked{{/if}}>

  <br><br>

  <button type="submit">EDIT</button>

</form>

<br><br>

<a href="/user/delete">Eliminar Usuario</a> --}}