<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My Baby Sitter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/ad">View Ads<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/user/profile/edit/">Edit Profile</a>
      <a class="nav-item nav-link" href="/">Logout</a>
    </div>
  </div>
</nav>

<br></br>

<h3>Profile</h3>

<div class="">
    <div>
        {{#if user.photopath}} <img src="{{user.photopath}}" alt="profile-photo" width="300"> {{/if}}
        <p>Name: {{user.name}}</p>
        <p>Lastname: {{user.lastname}}</p>
        <p>Address: {{user.address.street}} / City: {{user.address.city}} / Zip: {{user.address.zip}}</span></p>
        <p>Email: {{user.email}}</p>
        <p>Phone: {{user.phone}}</p>
        <p>Are you babysitter?:{{#if user.isBabysitter}} yes {{else}} no {{/if}}</p>
        <button><a href="/user/profile/comment/{{user._id}}">See comments</a></button>
    </div>
</div>
    

